<h1>Welcome Index </h1>

<% content_for :body do %>
<body id = "welcome_index" >
<% end %>

  <h1 class="welcome"><div class="rotate">Travel To <span class="rwelcome">Spain</span> <span class="rwelcome">Dubai</span> <span class="rwelcome">BoraBora</span> <span class="rwelcome">Dubai</span> With Holiday Transfer</h1>

<div class="transfer">
<%= link_to 'TransferUrHoliday', new_user_session_path %>
</div>

<div class="wrapper">

<img src="images/dubai.jpg" class="rotating-item" width="980" height="347" />

<img src="images/cuba.jpg" class="rotating-item" width="980" height="347" />

<img src="images/paradise.jpg" alt="" class="rotating-item" width="980" height="347" />

</div>
