<h1>Welcome Index </h1>
  <h1 class="welcome"><div class="rotate">Travel To <span class="rwelcome">Spain</span> <span class="rwelcome">Germany</span> <span class="rwelcome">BoraBora</span> <span class="rwelcome">Dubai</span> With Holiday Transfer</h1>

<%= link_to 'TransferUrHoliday', new_user_session_path %>

