#charge {
	background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcReUywDI1cbZYpqpss5a66vjkeKacqhqEwcfzLAr3MHMxdHqNSd');
/*	background-position: right ;*/
	background-repeat: no-repeat; 
	margin-top: 10%;
	text-align: center;
}

/*p {
	margin-top: 15%;
}*//*.confirm {
	margin-top: 0;
}


#charge {
	margin-top: 0;
	margin-bottom: 0;
}*/