#package_fields{
  display: none;
}
#attraction_fields{
  display: none;
}
#ticket_fields{
  display: none;
}
#hotel_fields{
  display: none;
}
#destination_fields{
  display: none;
}
.welcome{
  position: absolute;
  top: 300px;
  left: 400px;
}