.rwelcome{
  color: red;
}

.welcome{
  color: blue;
}

#wrapper {
position: relative;
width: 980px;
height: 347px;
}

.rotating-item {
display: none;
position: absolute;
top: 0;
left: 0;
}


h1 {
  text-align: center;
}

.transfer {
  text-align: center;
}

#welcome_index {
  background-image: url('dubai.jpg');
  background-size: cover;
/*  background-size: 1000px 1000px;*/
      background-repeat: no-repeat;
}