.rwelcome{
  color: red;
}

.welcome{
  color: #B6DBE7;
  opacity: 1em;
}

#welcome_wrapper {
position: relative;
width: 980px;
height: 347px;
}

.rotating-item {
display: none;
position: absolute;
top: 0;
left: 0;
}


.slideShowContainer{
  list-style: none;
}

h1 {
  text-align: center;
}

.transfer {
  text-align: center;
}


