<h2>Thanks @user.first_name your payment for <strong>£<%= @ticket.package.price+15 %></strong> has been successful!

</h2> 

<p>An email will be sent to you with all the updated information</p>
<p>Customer services will also send an email to the email address you provided when you signed up confirming a convenient time to give you a call to confirm your passport details</p>

<%= link_to 'Holiday Listing', packages_path %>